/* CSS Document */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body{
	font-family: "微軟正黑體", "Arial Unicode MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#body{
	margin:0 auto;
	padding:20px;
	padding-top:60px;
	background-color:white;
}

@media print{
  #body{
    padding: 0;
  }
}

#footer{
	margin-top:50px;
	clear:both;
	text-align:center;
}

.center{
	display:block;
	margin:0 auto;
	text-align:center;
}

.center li{
	display:inline-block !important;
	float:none !important;
}
.full-width{
	padding:0;
}
.full-width-bg{
	position:absolute;
	left:0;
	height:inherit;
	width:100%;
}
.full-width-content{
	margin:0 auto;
	padding-top:100px;
	width:1000px;
}
@media (max-width:1000px){
	.full-width-content{
		padding-top:50px;
		padding-left:10px;
		padding-right:10px;
		width:100%;
	}
}
/* Fix jQuery validate success label */
.has-success .form-control + label.error{
	display:inline;
}
/* Fix anchor bug */
a[name] {
  padding-top: 60px;
  margin-top: -60px;
  display: inline-block; /* required for webkit browsers */
}
/* Index */
#welcome{
	margin-top:-10px;
	height:450px;
	text-align:center;
	color:white;
	text-shadow:2px 2px 2px #333;
}
#welcome h1{
	font-size:60px;
	line-height:1.25;
}
#welcome p{
	font-size: 20px;
	line-height:1.25;
}
#welcome .full-width-bg{
	background:url(../img/index_image.jpg) no-repeat 0 -350px;
}
#registerForm .modal-footer .alert{
	text-align:center;
}
#welcome-comment .panel{
  box-shadow:none;
  -webkit-box-shadow:none;
  border:none;
}
#fb-comment-message #fb-comment-message-head img{
  width:200px;
  height:200px;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
/* Dashboard */
#dashboard .tab-content {
	padding:10px;
}
#dashboard li div.badge {
	margin-left:5px;
}
#announcement-filter {
	margin:10px 0;
}
#dashboard .panel-primary .panel-heading small {
	color:white;
}
#dashboard .panel-body {
	overflow:auto;
}
#dashboard .panel .label {
	margin-left:5px;
}
#dashboard #announcement #hidden-announcement {
	display:none;
}
#dashboard #document #hidden-document {
	display:none;
}
#dashboard .panel .panel-heading {
	cursor:pointer;
}
#dashboard .panel .panel-heading div.course-name{
	float:left;
	font-size:20px;
}
#dashboard .panel .panel-heading h2{
	clear:left;
	padding-left: 10px;
}
#dashboard .panel .panel-body {
	overflow-y:hidden;
}
div.document-attachment{
  margin-top:10px;
}
#coursetable div.col-xs-1{
  padding:0;
}
#coursetable div.header{
  font-weight:bold;
}
#coursetable .course_data{
  display:block;
  width:100%;
  border:1px solid #CCC;
  border-right:none;
  border-bottom:none;
  text-align:center;
  height:50px;
}
#coursetable div.col-xs-1:last-child .course_data{
  border-right:1px solid #CCC;
}
#coursetable .course_data:last-child{
  border-bottom:1px solid #CCC;
}
#coursetable .row .col-xs-1 .course_data:nth-of-type(even){
  background-color:#EEE;
}
#coursetable div.course_color0{
  background-color:#5CCDC9 !important;
}
#coursetable div.course_color1{
  background-color:#6C8DD5 !important;
}
#coursetable div.course_color2{
  background-color:#FFCF73 !important;
}
#coursetable div.course_color3{
  background-color:#FFB173 !important;
}